// The rotating sun in the logo
  
  
// Black colors for painting
body.dark {
  background-color: black;
  
  // any rules in here will only apply when body has the 'black' class
  h1, p, span {
    color: white;
  }
}
body{
  background-color: #F5F5F5;
}

.sidenav .thespinningsnowflake {
}

// the offset for the snowflake for Svetlana Eden
.sidenav svg {
  height: 30pt;
	width: 30pt;
  margin-bottom: -.25em;
}

// the offset for the snowflake for Svetlana
h1.Svetlana svg {
  height: 60pt;
	width: 60pt;
  margin-bottom: -.89em;
}

// all the svg files that are in header should spin: this is technically our snowflake
// the size of the snowflake is in thefirst two lines: height: 60pt; width: 60pt;
h1.header-title svg {
    color: #ea6111;
-webkit-animation-name: spin;
    -webkit-animation-duration: 9000ms;
    -webkit-animation-iteration-count: infinite;
    -webkit-animation-timing-function: linear;
    -moz-animation-name: spin;
    -moz-animation-duration: 9000ms;
    -moz-animation-iteration-count: infinite;
    -moz-animation-timing-function: linear;
    -ms-animation-name: spin;
    -ms-animation-duration: 9000ms;
    -ms-animation-iteration-count: infinite;
    -ms-animation-timing-function: linear;
    
    animation-name: spin;
    animation-duration: 9000ms;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
    @-ms-keyframes spin {
    from { -ms-transform: rotate(0deg); }
    to { -ms-transform: rotate(360deg); }
}
@-moz-keyframes spin {
    from { -moz-transform: rotate(0deg); }
    to { -moz-transform: rotate(360deg); }
}
@-webkit-keyframes spin {
    from { -webkit-transform: rotate(0deg); }
    to { -webkit-transform: rotate(360deg); }
}
@keyframes spin {
    from {
        transform:rotate(0deg);
    }
    to {
        transform:rotate(360deg);
    }
    }
    &:hover{
        color: #eae311;
    }
}
